*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 450px;
    height: 500px;
    border: 5px solid #4FAB9E;
    margin: 100px auto;
    border-radius: 20px;
    align-items: center;
}

.container h1{
    color: #999;
    text-align: center;
    margin: 30px auto;
    font-size: 40px;
}

.form_box input{
    width: 90%;
    margin: 8px 20px;
    padding: 7px;
}

.form_box label{
    font-size: 20px;
    color: #000;
    padding-left: 15px;
}

.submit_box input{
    outline: none;
    border: none;
    cursor: pointer;
    width: 300px;
    margin: 30px 67px;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #555;
}